body {
  background: #283618;
  font-family: "Monserrat", sans-serif;
}

a {
  color: #606c38;
}

.weather-project {
  background: #fefae0;
  max-width: 650px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 15px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #e6dfda;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #bc6c25;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 10px;
  text-align: center;
}

main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  color: #283618;
}
.details {
  color: #c48e52;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.humidity-value {
  color: #bc6c25;
  font-weight: bold;
}
.wind-value {
  color: #bc6c25;
  font-weight: bold;
}
.current-temperature-icon {
  position: relative;
  top: 10px;
  font-size: 60px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 75px;
  font-weight: bold;
  color: #283618;
}

.current-temperature-unit {
  font-size: 75px;
  color: #283618;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: #c48e52;

  font-size: small;
}
